@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: white;
  border: 0;
  border-radius: 7px;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 500px;
  margin-bottom: 50px;
}

.seat {
  background-color: #444451;
  height: 20px;
  width: 30px;
  margin: 6px;
  border-radius: 12px 12px 0 0;
}

.seat.selected {
  background-color: #11cccc;
  box-shadow: 0 0 5px #aaffff;
}

.seat.occupied {
  background-color: #fff;
  box-shadow: 0 0 5px whitesmoke;
}

.seat:nth-of-type(2) {
  margin-right: 30px;
}

.seat:nth-last-of-type(2) {
  margin-left: 30px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 250ms ease-in-out;
}
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.row {
  display: flex;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  background-color: white;
  height: 100px;
  width: 100%;
  margin: 40px 0;
  transform: rotateX(-60deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 10px 0;
}

p.text span {
  color: #11cccc;
}
